<div class="mt-5 usco-card ">

    <h1>DOCUMENTO INFORME DE PASANTES</h1>
    <p>
        cargue unicamente archivos PDF
</p>
<p>
        El informe debe presentarse siguiendo las normas APA
    </p>
        <h4>PORTADA </h4>

        <ol>
                <li>   Nombre del estudiante y código</li>
             <li> Primer informe de pasantía</li>
             <li> Nombre de la empresa donde desarrolla la pasantía</li>
             <li>Supervisor de la pasantía por parte de la empresa</li>
             <li> Director de pasantía asignado por el programa</li>
            <li>  Fecha de presentación</li>
             </ol>
                
                
               
              
           
    <h4> CAPÌTULO I </h4>
    <h6>ASPECTOS DE LA EMPRESA DONDE SE REALIZA LA PASANTÌA:</h6>
                
   <ol>
        <li>  Nombre de la empresa</li>
        <li> Ubicación de la empresa:</li>
        <li> Ubicación del sitio de práctica</li>
        <li>  Reseña Histórica de la empresa</li>
        <li> Misión </li>
       <li>   Visión</li>
       <li> Valores</li>
       <li>Productos y/o servicios </li>
   </ol>
                
    <h4>CAPITULO II</h4>
    <h6> DESARROLLO DE LA PASANTÌA</h6>
             <ol>
                    <li>Actividades Realizadas indicar cada actividad desarrollada de acuerdo al cronograma presentado en la solicitud de pasantía indicando</li>
                    <ul>fecha de inicio</ul>
                    <ul>fecha de finalización</ul>
                    <ul>  logros alcanzadas</ul>
                    <ul> dificultades presentadas hasta el momento</ul>
                    <ul></ul>

                    <li> El informe de estar firmado por el supervisor de la pasantía por parte de la empresa y/o sitio de práctica.</li>
                   



             </ol>
         
             
          
                    
                   
                    
                   
                    
    
    <div class="card-uscoHeader">
        <h2>SUBE TU INFORME</h2>
    </div>
    
        <!--<img src="../assets/subir.PNG" class="centro" alt="..."  style="width: 90%;margin-top: 10px;" input type=file name="archivoPas" required>-->
        <div class="card animated fadeIn fast">
            <div  id="pasantiaImg">
                <p>Sube tu archivo</p>
                <input type=file  name="archivoPas" required id="pasantiaArchivo" >
            
                </div>

            <div class="txtcenter">
                <a class="btn uscoButton" >CANCELAR</a>
                <input type="submit" [disabled]="!loginForm.valid" class="btn uscoButton" value="ENVIAR">
                
            </div>
      
        <br>
    </div>

</div>
