
<footer class="p-5">
    <article class="text-center ">
        <figure>
            <img class="img-fluid" src="../../assets/images/universidad-surcolombiana.png" alt="Universidad Surcolombian" title="Universidad Surcolombian">
        </figure>
        <p><strong>Institución de Educación Superior sujeta a inspección y vigilancia del Ministerio de Educación Nacional</strong></p>
        <br>
        <p>NIT: 891180084-2<br> Horario de atención al público:<br> Lunes a viernes de 8:00 a.m. a 12:00 m. y de 2:00 p.m. a 6:00 p.m.<br> Línea Gratuita Nacional: 018000 968722<br> Notificaciones Judiciales: notificacionesjudiciales@usco.edu.co</p>
        <figure>
            <img class="img-fluid" src="../../assets/images/icontec.png" alt="Certificación Icontec" title="Certificación Icontec">
        </figure>
    </article>
</footer>


