<!--
<header class="all header">
    <div class="container">
        <div class="row align-items-center">

            <!----------------------- IMAGES NAVBAR ------------------------------
            <div class="col-lg-3 col-sm-3 col-4 text-center">
                <a href="#" title="Universidad Surcolombiana">
                    <img class="img-fluid" style="height: 100px;" alt="Universidad Surcolombiana"
                    src="../../assets/images/logo-BPUS.png">
                </a>
            </div>

            <div class="col-lg-5 col-sm-8 col-8 text-center">
                <a title="Universidad Surcolombiana">
                    <img class="img-fluid" style="width: 300px;" alt="Universidad Surcolombiana"
                        src="../../assets/images/universidad-surcolombiana-acreditacion.png" >
                </a>
            </div>
            <!----------------------- /IMAGES NAVBAR ------------------------------

            <!------------------------ SINGIN SINGUP -----------------------------
            <div class="col-lg-4 col-sm-4 ">
                <div *ngIf="!sesionLogo()">
                    <a routerLink="/login" class="" title="Ingresar" style="color:#dfd4a6"><i class="fas fa-lock"></i></a>
                </div>
                <div *ngIf="!sesionLogo()">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown"></div>
                    <a routerLink="/singup" style="color:#dfd4a6"></a>
                </div>
            </div>    
            <!------------------------ /SINGIN SINGUP -----------------------------


            <div class="col text-right">
                <div class="row text-right">
                    <div class="col-auto text-right" *ngIf="sesionLogo()" style="padding: 5px">
                        <div class="dropdown">
                            <button routerLink='/informacion' type="button" class="btn" style='font-size:36px; color:#dfd4a6;padding: 0px;margin-left: 145px'>
                                <i class='far fa-question-circle'></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-auto text-right" *ngIf="sesionLogo()" style="padding: 5px">
                        <div class="dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" style='font-size:36px; color:#dfd4a6;padding: 0px;margin:0px'>
                                <i class='fas fa-user-circle'></i>
                            </button>
                            <div class="dropdown-menu animated fadeIn fast" style="margin-top: 25px;background-color: #8F141B;">
                                <a class="dropdown-item" routerLink='/perfil' style="color: #dfd4a6">
                                    Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a (click)="_usuarioService.logout()" class="dropdown-item" routerLink='/search' style="color: #dfd4a6">
                                    <i class="fas fa-sign-out-alt"></i> 
                                    Cerrar sesión 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
-->
<nav class="navbar header navbar-expand-lg navbar-light">
        <div class="container">
            <!----------------------- IMAGES NAVBAR ------------------------------>
            <a class="navbar-brand" href="/">
                <img class="img-fluid" style="height: 50px;" alt="Universidad Surcolombiana" src="../../assets/images/universidad-surcolombiana-acreditacion.png">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!----------------------- /IMAGES NAVBAR ----------------------------->

            <!------------------------ SINGIN SINGUP ----------------------------->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" style="color: #dfd4a6" routerLink="/">Inicio</a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" style="color: #dfd4a6" routerLink="/login">Ingresar</a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #dfd4a6" routerLink="/singup">Registrarse</a>
                    </li>
                </ul>
            </div>
            <!------------------------ /SINGIN SINGUP ----------------------------->
        </div>
    </nav>