
<div class="form-group">
  <label for="name" class="col-form-label"><b>Nombre:&nbsp;</b></label>
  <label class="col-form-label" id="name">{{ notifications.nombres_destinatario }} {{ notifications.apellidos_destinatario }}</label>
</div>
<div class="form-group">
  <label for="asunto" class="col-form-label"><b>Asunto:&nbsp;</b></label>
  <label class="col-form-label" id="asunto">{{ notifications.asunto }}</label>
</div>
<div class="form-group">
  <label for="asunto" class="col-form-label"><b>Mensaje:&nbsp;</b></label>
  <p class="text-justify">{{ notifications.mensaje }}</p>
</div>
